*  {
	margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
}

body  {
	background-color: transparent;
	font-size: 12px;
}

input[type=button], input[type=submit], input[type=reset]  {
	color: black;
	font-size: 12px;
	font-family: helvetica;
	text-decoration: none;
	border: 2px solid white;
	border-radius: 20px;
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
	moz-transition-duration: .2s;
	background-color: rgb(211,211,211);
	padding: 4px 10px;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
	color: white;
	background-color: rgb(47,79,79);
	transition-duration: .2s;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
}

input[type=text]  {
	height: 18px;
	width: 100%;
	position: relative;
	/** left: 0; **/
	outline: none;
	border: 1px solid #cdcdcd;
	border-color: rgba(0, 0, 0, .15);
	border-radius: 4px;
	background-color: white;
	font-size: 10px;
	box-shadow: -2px 2px 1px rgba(0,0,0,0.2);
}

input[type=password]  {
	height: 18px;
	width: 100%;
	position: relative;
	/** left: 0;  **/
	outline: none;
	border: 1px solid #cdcdcd;
	border-color: rgba(0, 0, 0, .15);
	border-radius: 4px;
	background-color: white;
	font-size: 10px;
	box-shadow: -2px 2px 1px rgba(0,0,0,0.2);
}

textarea  {
	width: 100%;
	height: 150px;
	padding: 0;
	position: relative;
	outline: none;
	border: 1px solid #cdcdcd;
	border-color: rgba(0, 0, 0, .15);
	background-color: white;
	font-size: 10px;
	resize: none;
	box-shadow: -2px 2px 1px rgba(0,0,0,0.2);
}

select  {
	width: 100%;
	padding: 2px 5px;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	background-color: white;
	box-shadow: -2px 2px 1px rgba(0,0,0,0.2);
}

body .container  {
	clear: both;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: inherit;
	background-color: inherit;
	word-wrap: break-word;
}

body .container .head  {
	width: inherit;
	height: inherit;
	overflow: inherit;
	font-size: 22px;
	background-image: linear-gradient(to bottom, blue, 10%, white);
}

body .container .foot  {
	width: inherit;
	height: inherit;
	overflow: inherit;
	font-size: inherit;
}

.collapsible-menu {
	background-color: rgb(255, 255, 255);
	padding: 0px 5px;
}
.collapsible-menu ul {
	list-style-type: none;
	padding: 0;
}
.collapsible-menu a {
	display:block;
	padding: 5px;
	text-decoration: none;
}
.collapsible-menu label {
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 16px;
	display: inline;
	cursor: pointer;
	background: url(/img/hamburger_menu.png) no-repeat left;
	padding: 5px 0 5px 25px;
}


body .container .largecol  {
	background-color: inherit;
	font-size: inherit;
	float: left;
	clear: right;
	width: 60%;
}

body .container .smallcol  {
	background-color: inherit;
	font-size: inherit;
	float: left;
	clear: right;
	width: 20%;
}

.menu-content  {
	max-height: 100%;
	overflow: hidden;
	font-family: 'Oswald', sans-serif; 
	padding: 0 0 0 15px;
}
input:checked ~ .menu-content {
	max-height: 0;
}

input#searchtypes  {
	display: none;
}


.row  {
	clear: both;
	width: 100%;
}

.col  {
	float: left;
	clear: right;
	width: 32%;
}
